/*!
 * Copyright © 2018 Valentin Sickert
 * This work is free. You can redistribute it and/or modify it under the
 * terms of the Do What The Fuck You Want To Public License, Version 2,
 * as published by Sam Hocevar. See the LICENSE file or http://www.wtfpl.net/
 * for more details.
 */

/*!
 * Created by: Valentin Sickert
 * Date: 18.11.18 22:03
 * Project: cover-display
 */
@-webkit-keyframes blink-2 {
  0% {
    color: #FF4C4C;
  }
  50% {
    color: #E26565;
  }
  100% {
    color: #B18E8E;
  }
}

@keyframes blink-2 {
  0% {
    color: #FF4C4C;
  }
  50% {
    color: #E26565;
  }
  100% {
    color: #B18E8E;
  }
}

#live {
  font-family: 'Arial', sans-serif;
  padding: 0;
  overflow: hidden;
  background: #34bf49;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  &.hidden {
    visibility: hidden;
  }
  &.in{
    position: absolute;
    bottom: 4px;
  }
  &.bottom {
    margin-top: -5px;
  }
  p {
    padding: .5rem;
    white-space: nowrap;
    transition: none;
  }
  .blink-2 {
    -webkit-animation: blink-2 1s .2s linear infinite alternate;
    animation: blink-2 1s linear .2s infinite alternate;
  }
  .notLive {
    color: #9e9e9e;
  }
}
