/*
 * Copyright © 2018 Valentin Sickert
 * This work is free. You can redistribute it and/or modify it under the
 * terms of the Do What The Fuck You Want To Public License, Version 2,
 * as published by Sam Hocevar. See the LICENSE file or http://www.wtfpl.net/
 * for more details.
 */

/*!
 * Created by: Valentin Sickert
 */
html {
    height: 100%;
}
body {
    min-height: 100%;
}
a {
    color: #6c757d !important;
}
a:hover, a:focus, a:active {
    color: #212121 !important;
}